*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 14px;
  line-height: 22px;
}
.fix::before, .fix::after{
  content: '';
  display: table;
  clear: both;
}
ul{
  list-style: none;
}

.btn{
  text-decoration: none;
  background-color: tomato;
  display: inline-block;
  padding: 5px;
  margin: 20px 5px 5px 0px;
  color: white;
  text-transform: capitalize;
  border-radius: 3px;
  font-size: 14px;
  float: left;
  cursor: pointer;
}

.area {
  width: 1000px;
  margin: 0 auto;
}

/*.header {*/
/*  display: inline-block;*/
/*  background-color: red;*/
/*}*/

/*header design start here*/
.header {
  background-color: #ddd;
text-align: center;
}
.logo {
  float: left;
  width: 100px;
  margin-top: 14px;
}

.logo a{}
.logo a img {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}
.menu{
  float: right;
  width: 720px;
}
.menu ul {
  margin-top: 14px;
  margin-right: 10px;
  text-align: right;
  list-style: none;
}
.menu ul li {
  display: inline-block;
  transition: 0.3s;
}
.menu ul li a{
  text-decoration: none;
  padding: 10px 10px;
  display: block;
  color: black;
  font-size: 20px;
}

.menu ul li a:hover{
  background-color: tomato;
  border-radius: 5px;
  color: white;
}

/*header design end here*/

/*banner design start here*/
.banner{}
.banner img {
  width: 100%;
  height: 250px;
}

/*banner design end here*/

/*services design start here*/

.services{}
.title{}
.title h4 {
  padding: 30px;
  font-size: 29px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
}
.service{}
.single-service {
  background-color: teal;
  width: 313px;
  float: left;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: white;
}
.single-service h4 {
  text-transform: capitalize;
  padding: 10px;
  font-size: 21px;
  text-align: center;
}
.single-service img{
  max-height: 100%;
  max-width: 100%;
  width: auto;    /* These two are added only for clarity, */
  height: auto;
}
.single-service p {
  text-align: left;
  font-size: 15px;
}
.single-service a{
  /*text-decoration: none;*/
  /*background-color: tomato;*/
  /*display: inline-block;*/
  /*padding: 5px;*/
  /*margin: 20px 5px 5px 0px;*/
  /*color: white;*/
  /*text-transform: capitalize;*/
  /*border-radius: 3px;*/
  /*font-size: 14px;*/
  /*float: left;*/
  /*cursor: pointer;*/
}
.single-service a:hover{
  background-color: black;
}

/*about design start here*/

.about{
  margin: 60px 0px;
}
.about-left {
  float: left;
  margin-right: 30px;
  padding: 0px 10px;
  width: 753px;
}

.about-left h4, .about-menu h4{
  text-transform: capitalize;
  padding-bottom: 20px;
  font-size: 25px;
}
.about-left p{}
.about-left a:hover{
  background-color: black;
}
.about-menu{}
.about-menu h4{}
.about-menu ul{}
.about-menu ul li{}
.about-menu ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}
/*about design end hre*/

/*footer design start here*/
.footer {
  background-color: teal;
  height: 43px;
  padding: 10px;
  text-align: left;
  color: white;
  font-size: 15px;
  font-style: italic;
}
.footer p{}
/*footer design end here*/
/*services design end here*/

/*page banner css*/

.page-banner {
  background-size: cover;
  background-position: center;
  padding: 124px 0px;
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
}
.page-banner h2 {
  color: wheat;
  text-transform: capitalize;
  text-align: center;
  font-size: 35px;
}

.page-banner::after{
  content: '';
  position: absolute;
  background-color: #555555;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  opacity: .80;
  z-index: -1;
}
